<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-log2c-mqtt" version="2.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cordova MQTT Plugin</name>
    <description>
        Cordova / Phonegap MQTT　plugin.
    </description>
    <engines>
        <engine name="cordova" version="&gt;=7.0.0" />
    </engines>
    <js-module name="MqttPlugin" src="www/index.js">
        <clobbers target="MqttPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MqttPlugin">
                <param name="android-package" value="com.log2c.cordova.plugin.mqtt.MqttPlugin" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:enabled="true" android:exported="true" android:name="com.log2c.cordova.plugin.mqtt.MessengerService" android:process=":messenger" />
        </config-file>
        <source-file src="src/android/MqttPlugin.java" target-dir="src/com/log2c/cordova/plugin/mqtt" />
        <source-file src="src/android/ConnectConfigModel.java" target-dir="src/com/log2c/cordova/plugin/mqtt" />
        <source-file src="src/android/MqttDelegate.java" target-dir="src/com/log2c/cordova/plugin/mqtt" />
        <source-file src="src/android/MqttDelegateImp.java" target-dir="src/com/log2c/cordova/plugin/mqtt" />
        <source-file src="src/android/MessengerService.java" target-dir="src/com/log2c/cordova/plugin/mqtt" />
        <source-file src="src/android/MqttHelper.java" target-dir="src/com/log2c/cordova/plugin/mqtt" />
        <framework src="build-extras.gradle" custom="true" type="gradleReference" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MqttPlugin">
                <param name="ios-package" value="MqttPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/MqttPlugin.h" />
        <source-file src="src/ios/MqttPlugin.m" />
        <podspec>
            <config>
                <source url="https://github.com/aliyun/aliyun-specs.git"/>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name ="MQTTClient" />
            </pods>
        </podspec>
    </platform>
</plugin>